/*******reset*******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**genere**/

main {
  max-width: 1000px;
  margin: auto;
}
h1 {
  text-align: center;
  margin: 40px 0 40px 0;
}

/* Variabler */
:root {
  --background-color: #f7f0e6;
  --text-color: #331d12;
  --action-color: #f79065;
  --secondary-color: #7c8a79;
  --tertiary-color: #538a42;
}

/* farver */

body {
  background-color: var(--background-color);
}

footer {
  background-color: var(--secondary-color);
}

h1,
h2,
h3 {
  color: var(--tertiary-color);
  font-family: "Libre Baskerville", serif;
}
h4 {
  color: var(--action-color);
  font-family: "Libre Baskerville", serif;
}

p {
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

/* Generelle classnames for flex */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.gap {
  gap: 25px;
}

/** fonte ***/

/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 800 */

/* .open-sans-<uniquifier > {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
} */
