/*******reset*******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/** generel **/

main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 40px 0 40px 0;
}

/* Variabler */
:root {
  --background-color: #f7f0e6;
  --text-color: #331d12;
  --action-color: #f79065;
  --secondary-color: #7c8a79;
  --tertiary-color: #538a42;
}

/* farver */

body {
  background-color: var(--background-color);
}

footer {
  background-color: var(--secondary-color);
}

h1,
h2,
h3 {
  color: var(--tertiary-color);
  font-family: "Libre Baskerville", serif;
}
h4 {
  color: var(--action-color);
  font-family: "Libre Baskerville", serif;
}

p {
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

/* Generelle classnames for flex */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.gap {
  gap: 25px;
}

/** fonte ***/

/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 800 */

/* .open-sans-<uniquifier > {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
} */

/* HEADER */
.menu.active {
  display: block;
  background-color: rgb(211, 186, 186);
}
ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*position: absolute;*/
  padding: 2rem;
}
header a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
header ul {
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: right;
  gap: 30px;
  font-size: 0.8rem;
  display: none;
}

.menu a {
  text-decoration: none;
  color: black;
  padding-right: 20px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.logo img {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .logo img {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* BURGERMENU */
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

/* MEDIA QUERY - HEADER */
@media screen and (min-width: 768px) {
  header nav ul {
    padding: 1rem 2rem;
    padding-left: 1rem;
  }
  header nav ul,
  header nav {
    display: flex;
    position: static;
    list-style: none;
    padding-bottom: 0.1rem;
    overflow-x: auto;
    justify-content: flex-end;
    align-items: center;
  }

  a {
    font-weight: 50;
    color: rgb(8, 7, 7);
    text-decoration: none;
    text-shadow: 1px 0px 0px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    padding: 2rem;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a:hover {
    color: #ae6e69;
  }
  .burger {
    display: none;
  }
}
