.content {
    padding: 25px;

    & div {
        margin-bottom: 25px;
    }
}

.season-container p {
    margin-bottom: 20px;
}

.season-container:not(.show) {
    display: none;
}

.season-title {
    position: relative;
    text-align: center;

    & img {
        width: 100%;
        height: 20vh;
        filter: opacity(30%);
        object-fit: cover;
    }

    & h1 {
        position: absolute;
    }
}

.season-title:not(.show) {
    display: none;
}

.month-navigation {
    & .month-filter-group:not(.show) {
        display: none;
    }

    & button {
        display: inline-block;
        text-transform: capitalize;
        padding: 5px 20px;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }
}

.ingredients-overview-container {
    margin: 0;
    flex-wrap: wrap;

    & a {
        min-width: 90px;
        max-width: 280px;
        width: 46%;
    }
}

.ingredient {
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;

    & img {
        border-radius: 40%;
        object-fit: cover;
    }
}

.ingredient img:hover {
    border-radius: 40%;
    border: 5px solid var(--action-color);
}

@media (min-width: 650px) {
    .ingredients-overview-container {
        gap: 50px;

        & a {
            max-width: 300px;
            width: 27%;
        }
    }
}

@media (min-width: 950px) {
    .ingredients-overview-container a {
        width: 20%;
    }
}