.content {
    padding: 25px;

    & div {
        margin-bottom: 25px;
    }
}

.season-title {
    position: relative;
    text-align: center;

    & img {
        width: 100%;
        height: 20vh;
        filter: opacity(50%);
        object-fit: cover;
    }

    & h1 {
        position: absolute;
    }
}

.month-navigation button {
    text-transform: capitalize;
    padding: 5px 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.ingredients-overview-container {
    margin: 0;
    flex-wrap: wrap;

    & a {
        min-width: 90px;
        max-width: 280px;
        width: 46%;
    }
}

.ingredient {
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;

    & img {
        border-radius: 10%;
    }
}

@media (min-width: 650px) {
    .ingredients-overview-container {
        gap: 50px;

        & a {
            max-width: 300px;
            width: 27%;
        }
    }
}

@media (min-width: 950px) {
    .ingredients-overview-container a {
        width: 20%;
    }
}