#opskrifts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  justify-content: center;
}

.opskrift_image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3/3;
}

.opskrift_name {
  text-transform: capitalize;
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
  font-weight: lighter;
}

.opskrift_seasons {
  text-transform: capitalize;
  padding-bottom: 0.5rem;
  font-weight: lighter;
}

.opskrift_type {
  padding-bottom: 1rem;
  text-transform: capitalize;
  font-weight: lighter;
}

#oversigt {
  text-align: center;
  font-size: 24px;
  color: #333; /* Tekstfarve - ændr efter behov */
  margin-bottom: 20px; /* Afstand nedenunder elementet - ændr efter behov */
}

/* Styling til label og select */
label {
  font-size: 16px;
  margin-right: 10px; /* Afstand til højre for label - ændr efter behov */
  color: #555; /* Tekstfarve - ændr efter behov */
}

select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc; /* Ramme omkring select - ændr efter behov */
  border-radius: 4px;
  background-color: #fff; /* Baggrundsfarve - ændr efter behov */
  color: #333; /* Tekstfarve - ændr efter behov */
}

.h1_opskrifter {
  text-align: center;
  padding-bottom: 2rem;
}

h1.opskriftsliste {
  margin-bottom: 1rem;
}

.filter select {
  max-width: 150px;
  margin-bottom: 1rem;
}
