@media (min-width: 800px) {
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .grid_1-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 3rem;
  }
  .formular {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.opskrift_titel {
  text-transform: capitalize;
  margin-left: 10px;
}

.opskrift_billede {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

li {
  margin: 10px 0 20px 30px;
  font-family: "Open Sans", sans-serif;
}

ul li::marker {
  color: #f79065;
  list-style-type: circle;
  font-size: 30px;
}
ol li {
  counter-increment: li;
}

ol li::before {
  content: counter(li);
  color: #f79065;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

.facts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10px;
}

.formular {
  background-color: #f79065;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  gap: 0.5rem;
  padding: 30px;
  border-radius: 20px;
}

label,
input,
textarea,
select,
button {
  display: block;
}
/* input[type="file"], */
textarea {
  background-color: #fdf8f6;
  font-size: 0.8rem;
  color: #605959;
  border: none;
  gap: 10px;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 2%;
  margin-right: 5px;
  font-family: "Open Sans", sans-serif;
}

/* input[type="file"]::file-selector-button {
  padding: 10px;
  background-color: #fbe6dd;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
} */

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.send_knap button[type="submit"],
input[type="file"]::file-selector-button {
  background-color: #fbe6dd;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  font-weight: 500;
  color: #605959;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  /* position: relative;
  left: 72%;
  margin-bottom: 2%; */
}

.send_knap button[type="submit"] {
  border: #605959 1px solid;
}
.send_knap button[type="submit"]:hover,
input[type="file"]::file-selector-button:hover {
  opacity: 80%;
  cursor: pointer;
}
.formular h3 {
  font-size: 2rem;
  color: #fdf8f6;
}

.formular p {
  line-height: 1.6;
  font-size: 1.1rem;
}

p a {
  text-decoration: none;
  color: #fdf8f6;
}
a:hover {
  color: #cabcad;
}

p,
h2,
h3 {
  margin: 10px 0 20px 10px;
}

.ingredients_container {
  max-height: 400px;
  max-width: 200px;
  column-count: auto;
  column-width: 9rem;
  column-gap: 20px;
}
